[(#REM)

<bestiaire
|origine=
|morphologie=
|symbolique=
|histoire=
|maintenant=
>

]
<div class='bestiaire'>
	[<div class='item origine'>
		<strong class='hide'>Origine</strong>
		(#ENV{args/origine}|trim|propre)
	</div>]

	[<div class='item morphologie'>
		<strong class='hide'>Morphologie</strong>
		(#ENV{args/morphologie}|trim|propre)
	</div>]

	[<div class='item symbolique'>
		<strong class='hide'>Symbolique</strong>
		(#ENV{args/symbolique}|trim|propre)
	</div>]

	[<div class='item histoire'>
		<strong class='hide'>Histoire</strong>
		(#ENV{args/histoire}|trim|propre)
	</div>]

	[<div class='item maintenant'>
		<strong class='hide'>Maintenant</strong>
		(#ENV{args/maintenant}|trim|propre)
	</div>]
</div>
