[(#REM)

<credits
|image=
|auteur=
|lien=
|lien_titre=
|descriptif=
>

Tout est optionnel.
- lien_titre n'est utilisé que si l'on n'est pas en localisation 'salle' (lien actif)

]

<div class='credits'>
	[(#ENV{args/image}|trim|oui)
		[(#ENV{args/image}|match{.svg}|non)
			[<div class='image'>
				(#CHEMIN{#ENV{args/image}|trim}|image_passe_partout{130})
			</div>]
		]
		[(#ENV{args/image}|match{.svg}|oui)
			[<div class='image'>
				(#CHEMIN{#ENV{args/image}|trim}|image_reduire{130})
			</div>]
		]
	]

	<div class='description'>
		[<h5 class='auteur'>
			(#ENV{args/auteur}|trim|propre|ptobr)
		</h5>]
		[(#CONFIG{gbi/localisation}|=={salle}|non)
			#SET{titre,#ENV{args/lien_titre}|trim|sinon{#ENV{args/lien}|trim}}
			[<small class='lien'>
				<a href="[(#ENV{args/lien}|trim)]">
					(#GET{titre})
				</a>
			</small>]
		]
		[(#CONFIG{gbi/localisation}|=={salle}|oui)
			[<small class='lien'>(#ENV{args/lien}|trim)</small>]
		]
		[<div class='descriptif'>
			(#ENV{args/descriptif}|trim|propre)
		</div>]
	</div>
</div>

