[(#REM)

<quiz
|question=
|question_image=

|indice=
|indice_image=

|reponse=
|reponse_image=

|type=
|correct=

|choix1=
|indice1=
|image1=

|choix2=
|indice2=
|image2=

|choix3=
|indice3=
|image3=
>

]

<BOUCLE_espace_prive(CONDITION){si #ENV{wysiwyg}}>

<h3 class='spip'>Question</h3>
[<strong>(#ENV{args/question}|propre|ptobr|trim)</strong>]
[(#ENV{args/question_image}|modeliser_image_prive)]

<h3 class='spip'>Indice</h3>
[(#ENV{args/indice}|propre|ptobr|trim)]
[(#ENV{args/indice_image}|modeliser_image_prive)]

<h3 class='spip'>Réponse</h3>
[(#ENV{args/reponse}|propre|ptobr|trim)]
[(#ENV{args/reponse_image}|modeliser_image_prive)]

<h3 class='spip'>Solution</h3>
<BOUCLE_types(CONDITION){si #ENV{args/type,radio}|trim|=={radio}}>
[(#ENV{[args/(#ENV{args/correct}|trim)]}|trim|oui)
	[(#ENV{[args/(#ENV{args/correct}|trim)]}|trim)]
]
[(#ENV{[args/(#ENV{args/correct}|trim)]}|trim|non)
	<strong class='error'>Pas de réponse !</strong>
]
</BOUCLE_types>
	<B_choix>
		<ul class='spip'>
	<BOUCLE_choix(DATA){source tableau,#ENV{args/correct}|trim|explode{','}}>
		<li>
			[(#ENV{args/#VALEUR}|trim|oui)
				[(#ENV{args/#VALEUR}|trim)]
			]
			[(#ENV{args/#VALEUR}|trim|non)
				<strong class='error'>Pas de réponse !</strong>
			]
		</li>
	</BOUCLE_choix>
		</ul>
	</B_choix>
<//B_types>

<h3 class='spip'>Choix possibles</h3>
<ul class='spip'>
	<li>
		[(#ENV{args/choix1}|trim)]

		<i>[(#ENV{args/indice1}|trim)]</i>
		[(#ENV{args/image1}|modeliser_image_prive)]
	</li>
	<li>
		[(#ENV{args/choix2}|trim)]

		<i>[(#ENV{args/indice2}|trim)]</i>
		[(#ENV{args/image2}|modeliser_image_prive)]
	</li>
	<li>
		[(#ENV{args/choix3}|trim)]

		<i>[(#ENV{args/indice3}|trim)]</i>
		[(#ENV{args/image3}|modeliser_image_prive)]
	</li>
</ul>


</BOUCLE_espace_prive>

<quiz>
	<question>
		<texte>[(#ENV{args/question}|propre|ptobr|entites_html|trim)]</texte>
		[<image>(#ENV{args/question_image}|modeliser_image)</image>]
	</question>

	<indice>
		[<texte>(#ENV{args/indice}|propre|ptobr|entites_html|trim)</texte>]
		[<image>(#ENV{args/indice_image}|modeliser_image)</image>]
	</indice>

	<reponse>
		<texte>[(#ENV{args/reponse}|propre|ptobr|entites_html|trim)]</texte>
		[<image>(#ENV{args/reponse_image}|modeliser_image)</image>]
	</reponse>

	<correct>
		<code>[(#ENV{args/correct}|trim)]</code>
		<texte><BOUCLE_reponses_correctes(DATA){source tableau,#ENV{args/correct}
			|trim|explode{','}}{', '}>[(#ENV{args/#VALEUR}|trim|oui)[(#ENV{args/#VALEUR}|trim)]]</BOUCLE_reponses_correctes></texte>
		<type>[(#ENV{args/type}|trim|sinon{radio})]</type>
	</correct>

	<choix>
		<texte>[(#ENV{args/choix1}|trim)]</texte>
		<image>[(#ENV{args/image1}|modeliser_image)]</image>
		<indice>[(#ENV{args/indice1}|trim)]</indice>
	</choix>
	<choix>
		<texte>[(#ENV{args/choix2}|trim)]</texte>
		<image>[(#ENV{args/image2}|modeliser_image)]</image>
		<indice>[(#ENV{args/indice2}|trim)]</indice>
	</choix>
	<choix>
		<texte>[(#ENV{args/choix3}|trim)]</texte>
		<image>[(#ENV{args/image3}|modeliser_image)]</image>
		<indice>[(#ENV{args/indice3}|trim)]</indice>
	</choix>
</quiz>

<//B_espace_prive>

#FILTRE{trim}
