@import "css/mixins.less";
@import "css/variables.less";
@import "css/buttons.less";

@c_titres: #606263;

pre { text-align:left; white-space: pre; }

.background-size(@valeur) {
	-webkit-background-size: @valeur;
	-moz-background-size: @valeur;
	-o-background-size: @valeur;
	background-size: @valeur;
}
.user-select(@valeur) {
	-webkit-touch-callout: @valeur;
	-webkit-user-select: @valeur;
	-khtml-user-select: @valeur;
	-moz-user-select: @valeur;
	-ms-user-select: @valeur;
	user-select: @valeur;
}

/* pas de sélection : ne fonctionne pas merveilleusement bien tout le temps */
.no-selection() {
	.user-select(none);
	*::selection {
		background:transparent;
	}
	*::-moz-selection {
		background:transparent;
	}
	* { outline:none; }
}


/* sommaire d'une expo */
html.composition_exposition_dragons { 
	background: url(images/dragon.jpg) no-repeat center center fixed; 
	.background-size(cover); /* contain | cover */
	/* pas de sélection : ne fonctionne pas merveilleusement bien tout le temps */
	.no-selection();
	cursor:default;


	body {
		background: transparent;
	}

	.page { margin-top:5%; }

	.encadre h1 {
		font-size:350%;
		color:white;
		text-shadow: 0px 1px 3px;
		font-family:Risque, @serifFontFamily;
	}

	.cadre {
		font-size:120%;
		/*transform:skewX(10deg) skewY(-10deg);*/
		.rotate(-10deg);
		padding:2em;
		border:1px solid rgba(255,255,255,0.8);
		background:rgba(255,255,255,0.5);
		.border-radius(5px);

		h2 {
			font-family:Risque, @serifFontFamily;
		}
	}
}



/* sommaire d'une expo catalogue */
html.composition_planche_dragons_catalogue { 
	background: url(images/brouillard_1.jpg) no-repeat center center fixed; 

	.background-size(cover); /* contain | cover */
	/* pas de sélection : ne fonctionne pas merveilleusement bien tout le temps */
	.no-selection();

	cursor:default;

	.formulaire_spip {
		.user-select(text);
	}

	body {
		background: transparent;
	}
	.page { margin-top:5%; }

	.encadre h1 {
		font-size:350%;
		color:white;
		color:@c_titres;
		text-shadow: 0px 1px 3px;
		font-family:Risque, @serifFontFamily;
	}

	.thumbnails {
		.thumbnail {
			padding:0;
			border:none;
			.box-shadow(none);
			img {
				.border-radius(4px);
				border: 1px solid #ddd;
				max-width:100%;
				.box-shadow(0 1px 3px rgba(0, 0, 0, 0.055));
			}
			a:hover {
				img { box-shadow: 0 1px 5px rgba(255, 255, 255, .7), 0 1px 5px rgba(255, 255, 255, .7); }
				h3 {
					text-shadow: 0px 1px 5px rgba(255, 255, 255, .7), 0px 1px 5px rgba(255, 255, 255, .7);
					color:darken(@c_titres, 20%);
				}
			}
		}
		h3 {
			font-family:Risque, @serifFontFamily;
			text-align:center;
			margin-top:.2em;
			color:white;
			color:@c_titres;
			text-shadow: 0px 1px 3px;
		}
	}

	.modal {
		font-size:130%;
		width: 90%;
		left: 5%;
		margin-left:0;

		background: url(images/brouillard_2_pale.jpg) no-repeat center center fixed; 
		.background-size(cover); /* contain | cover */

		&.fade {
			.transition(e('opacity .3s linear'));
			top: 5%;
		}
		&.fade.in { top: 5%; }

		img {
			max-width:100%;
		}

		h3, h4 {
			font-family:Risque, @serifFontFamily;
			margin-top:.2em;
			text-shadow: 0px 1px 3px;
			color:black;
			font-size:200%;
			text-align:left;
			margin-bottom:.5em;
		}
		h4 {
			font-size:130%;
		}
	
		.gauche { width:43%; float:left; margin:1em 2em 1em 2em; text-align:right;}
		.droite { width:34%; float:left; margin:1em 1em 1em 2em; /*margin-top:-1.5em;*/}

		ul.spip li,
		p {
			color:#000;
			margin-bottom:.5em;
			/*text-shadow:0 0 1.2em #fff, 0 0 0.8em #fff, 0 0 0.2em #fff;*/
		}

		.shadow {
			.box-shadow(0 0 2em rgba(255,255,255,0.2));
			background-color: rgba(255, 255, 255, 0.1);
			.border-radius(2em);
			padding:1em;
		}

		.encart {
			width:auto;
			border: 1px solid rgba(255, 255, 255, 0.8);
			background: rgba(255, 255, 255, 0.5);
			.border-radius(10px);
			padding:1em;
			/*.rotate(-5deg);*/

			&.image {
				/*.rotate(5deg);*/
				display:inline-block;
				max-width:100%;
			}

			img {
				max-width:100%;
				max-height:70%;
				width:auto;
				display:inline-block;
			}
		}

		.iconographie {
			float:left;
			padding:2px 5px; border-radius:5px;
			/*background:rgba(255,255,255,.3);
			border:1px solid rgba(255,255,255,.5);*/
			opacity:.7;
			.item {
				display:inline-block; padding:5px 10px 5px 30px; margin-right:5px;
				background:transparent no-repeat left 3px;
				background-size:25%;
				/*border-right:1px solid rgba(255,255,255,.3);*/
			}
			.origine {
				background-image: url('images/icons/globe.svg');
				background-size:29%;
				background-position:left 1px;
			}
			.morphologie {
				background-image: url('images/icons/dragon.svg');
				background-position:left 1px;
			}
			.symbolique {
				background-image: url('images/icons/symbolique.svg');
				background-size:22%;
				/*background-position: left 3px;*/
			}
			.histoire {
				background-image: url('images/icons/paper.svg');
			}
			.maintenant {
				background-image: url('images/icons/time.svg');
				margin-right:0;
				border:0;
			}
		}

		.bestiaire {
			.item {
				min-height:2.5em;
				padding-left:3em;
				padding-top:1.2em;
				background:transparent no-repeat left .9em;
				background-size:10%;
				& + .item {
					border-top:2px solid rgba(255,255,255,.2);
					margin-top:.6em;
				}
				& > :last-child { margin-bottom:1.4em;}
				&:last-child {
					& > :last-child{ margin-bottom:0; }
				}
			}
			.origine {
				background:transparent no-repeat left .7em;
				background-size:10%;
				background-image: url('images/icons/globe.svg');
			}
			.morphologie {
				background-image: url('images/icons/dragon.svg');
			}
			.symbolique {
				background:transparent no-repeat left .8em;
				background-size:9%;
				background-image: url('images/icons/symbolique.svg');
			}
			.histoire {
				background:transparent no-repeat .1em 1.2em;
				background-image: url('images/icons/paper.svg');
				background-size:8%;
			}
			.maintenant {
				background-image: url('images/icons/time.svg');
			}
			ul.spip { margin-left:0; padding-left:1em; }
		}

		.modal-header {
			border-bottom:none;
		}
		.modal-body {
			/*height:60%;
			max-height:60%;*/
			height:540px;
			max-height:540px;
			border-bottom:none;
			overflow:auto;
		}
		.modal-footer {
			background:transparent;
			border-top:none;
			.box-shadow(none);
			/*padding-top:0;*/
			.btn { padding:.6em 1em;}
			button {
				margin-top:5px;
			}
		}
	}

	#lien_credits {
		position:absolute;
		bottom:2.5em;
		right:3em;
		a {
			color:white;
			text-decoration:underline;
			padding:.5em;
			&:hover, &:focus {
				background-color:rgba(0,0,0,0.2);
			}
		}
	}

	.credits {
		padding:.5em;
		background-color:rgba(255,255,255,.3);
		.border-radius(5px);

		.image { width:130px; float:left;
			img { .border-radius(5px); }
		}
		.description { padding-left:150px;
		}
		.auteur {margin-bottom:0;}
		.descriptif p { color:#333; font-size:80%; }
		.lien, .lien a {
			font-style:italic;
			color:#63687D;
		}
		margin-bottom:1em;
		clear:both;
		overflow:auto;
	}
}

@media (max-height: 760px) {
	html.composition_planche_dragons_catalogue {
		.thumbnails {
			.modal {
				font-size:110%;
			}
		}
	}
}

@media (min-width: 1300px) {
	html.composition_planche_dragons_catalogue {
		.thumbnails {
			.modal {
				.bestiaire {
					.item {
						background-size:7%;
					}
					.origine {
						background-size:8%;
					}
					.morphologie {}
					.symbolique {
						background-size:7%;
					}
					.histoire {
						background-size:6%;
					}
					.maintenant {}
				}
				.iconographie {
					.item {
						background-size:22%;
					}
					.origine {
						background-size:24%;
					}
					.morphologie {}
					.symbolique {
						background-size:20%;
					}
					.histoire {}
					.maintenant {}
				}
			}
		}
	}
}




/* sommaire d'une expo planisphère */
html.composition_planche_dragons_cartographie { 
	background: url(images/stone.jpg) no-repeat 100% 100% fixed; 
	.background-size(100% 100%);

	.user-select(none);
	cursor:default;

	#espace {
		width:100%;
		background: url(images/carte.png) no-repeat 50% 50%;
		.background-size(960px auto);
		height:100%;
		position:relative;
	}

	h1 {
		color:white;
		text-align:center;
		position:absolute;
		width:100%;
		top:.5em;
		text-shadow: 0px 1px 3px;
		font-family:Risque, @serifFontFamily;
	}

	.formulaire_spip {
		.user-select(text);
	}

	body {
		background: transparent;
	}



	.modal {
		font-size:130%;
		width: 90%;
		left: 5%;
		margin-left:0;

		background: url(images/stone.jpg) no-repeat center center fixed; 
		.background-size(cover); /* contain | cover */

		&.fade {
			.transition(e('opacity .3s linear'));
			top: 5%;
		}
		&.fade.in { top: 5%; }

		img {
			max-width:100%;
		}

		h3, h4 {
			font-family:Risque, @serifFontFamily;
			margin-top:.2em;
			color:black;
			color:white;
			text-shadow: 0px 1px 3px white;
			font-size:200%;
			text-align:left;
			margin-bottom:.5em;
		}
		h4 {
			font-size:130%;
		}
		.contenu {
			color:white;
			background:rgba(10, 10, 10, 0.7);
			border-radius:10px;
			padding:1em 2em;
		}

		.gauche { width:43%; float:left; margin:1em 2em 1em 2em; text-align:right;}
		.droite { width:34%; float:left; margin:1em 1em 1em 2em; /*margin-top:-1.5em;*/}

		ul.spip li,
		p {
			/*margin-bottom:.5em;*/
			/*text-shadow:0 0 1.2em #fff, 0 0 0.8em #fff, 0 0 0.2em #fff;*/
		}

		.shadow {
			.box-shadow(0 0 2em rgba(255,255,255,0.2));
			background-color: rgba(255, 255, 255, 0.1);
			.border-radius(2em);
			padding:1em;
		}

		.encart {
			width:auto;
			/*border: 1px solid rgba(50, 50, 50, 0.8);*/
			background: rgba(10, 10, 10, 0.7);
			.border-radius(10px);
			padding:1em;
			/*.rotate(-5deg);*/

			&.image {
				/*.rotate(5deg);*/
				display:inline-block;
				max-width:100%;
			}

			img {
				max-width:100%;
				max-height:70%;
				width:auto;
				display:inline-block;
				border-radius:5px;
			}
		}


		.modal-header {
			border-bottom:none;
		}
		.modal-body {
			/*height:60%;
			max-height:60%;*/
			height:540px;
			max-height:540px;
			border-bottom:none;
			overflow:auto;
		}
		.modal-footer {
			background:transparent;
			border-top:none;
			.box-shadow(none);
			/*padding-top:0;*/
			.btn { padding:.6em 1em;}
		}
	}

	#lien_credits {
		position:absolute;
		bottom:2.5em;
		right:3em;
		a {
			color:#888;
			text-decoration:underline;
			padding:.5em;
			&:hover, &:focus {
				color:#ccc;
				background-color:rgba(255,255,255,0.2);
			}
		}
	}

	#lien_recommencer {
		position:absolute;
		bottom:2.5em;
		left:2em;
		margin:0 auto;
		.btn { padding:.6em 1em;}
	}

	#credits {
		color:white;
	}
	.credits {
		padding:.5em;
		background-color:rgba(10,10,10,.7);
		.border-radius(5px);

		.image { width:130px; float:left;
			img { .border-radius(5px); }
		}
		.description { padding-left:150px;
		}
		.auteur {margin-bottom:0;}
		.descriptif p { color:#eee; font-size:80%; }
		.lien, .lien a {
			font-style:italic;
			color:#B0B3BB;
		}
		margin-bottom:1em;
		clear:both;
		overflow:auto;
	}
}

@media (min-width: 1860px) {
	html.composition_planche_dragons_cartographie {
		#espace {
			.background-size(1500px auto);
		}
	}
}
@media (max-height: 760px) {
	html.composition_planche_dragons_cartographie {
		.modal {
			font-size:110%;
		}
	}
}










/* sommaire d'une planche de quiz */

@text-shadow-color: #fff;
@btn-shadow-color: rgba(255,255,255,1);

.fond-de-texte {
	background-color: rgba(255,255,255,.7);
	border:1px solid white;
	border-left-width:0;
	border-right-width:0;

	.box-shadow(0 0 1em rgba(255,255,255,0.8));

	.marge {
		margin:1% 0;
		height:95%;
		background-color: rgba(130,200,40,.7);
		border:1px solid white;
		border-left-width:0;
		border-right-width:0;
	}
}


html.composition_planche_dragons_quiz { 
	background:url(images/foret.jpg) no-repeat 100% 100% fixed; 
	.background-size(100% 100%);

	.user-select(none);
	cursor:default;

	body { background:transparent; }


	#titres_borne {
		width: 35%;
		text-align:center;
		margin:0 auto;
		.fond-de-texte;
		border-width:0 1px 1px 1px;
		border-radius:0 0 15px 15px;

		.transition(e('opacity .5s linear'));
		opacity:1;

		&.to_hide {
			opacity:0;
		}
		&.to_show {
			opacity:1;
		}

		.marge {
			width:94%; margin:0 auto 3% auto;
			border-width:0 1px 1px 1px;
			border-radius:0 0 10px 10px;
		}
		h1 { padding-top:1em; }
		h2 { padding-bottom:.6em; }
	}

	h1, h2 {

		color:#AD6804;
		text-align:center;

		text-shadow:
			0px 1px 3px @text-shadow-color,
			0px 1px 5px @text-shadow-color,
			0px 1px .3em @text-shadow-color,
			0px 1px .5em @text-shadow-color,
			0px 1px 1em @text-shadow-color,
			0px 1px 1.5em @text-shadow-color;
		font-family:Risque, @serifFontFamily;

		padding-top:1em;
		font-size:150%;
	}
	h2 {
		font-size:200%;
		padding-top:.5em;
	}


	#demarrer {
		.transition(e('opacity .5s linear'));
		opacity:1;

		&.to_hide {
			opacity:0;
		}

		width: 100%;
		text-align:center;
		margin-top:10em;

		.btn {
			.btn-large;
			box-shadow:
				0 0 .5em @btn-shadow-color,
				0 0 1em @btn-shadow-color,
				0 0 2em @btn-shadow-color,
				0 0 3em @btn-shadow-color,
				0 0 4em @btn-shadow-color,
				0 0 5em @btn-shadow-color;
			font-size:160%;
			padding-top:.6em;
			padding-bottom:.7em;
			i { margin-top:.3em; margin-right:.3em; }
		}
	}

	#recommencer {
		position:absolute;
		left:2em;
		bottom:2em;
		opacity:.5;
		.btn {
			padding-top:.5em; padding-bottom:.5em;
			font-size:120%;
			i { margin-top:.2em; margin-right:.2em; }
		}
		&:hover, &:focus { opacity:1; }
	}

	.question {

		opacity:0;
		/*height: 0;*/
		overflow: hidden;

		.transition(e('opacity .5s linear'));

		&.to_show {
			opacity:1;
			/*height:100%;*/
		}

		position:absolute;
		top:2em; bottom:2em;
		width:80%; left:10%; right:10%;
		/*left:2em; right:2em;*/

		font-size:120%;
		h2 {
			font-size:160%;
			font-family:@serifFontFamily;
			color:#333;
			text-shadow:1px 1px 3px white;
			max-width:840px;
			margin-left:auto;
			margin-right:auto;
			line-height:1.3em;
		}

		/* une marge pour les popover hauts */
		.illustration { min-height:300px; }

		.fond-de-texte;

		.contenu {
			padding:1em 2em;
			text-align:center;
			/*overflow:auto;*/
			max-height:96%;
		}

		.formulaire {
			text-align:left;
			width:60%; margin:1em auto;
			.choix {
				label {
					padding:1em;
					margin:1em 0;
					background:rgba(255,255,255,.3);
					border-radius: 5px;
					border:1px solid rgba(255,255,255,.3);
					font-size:120%;
				}
				input {
					float: left;
					margin-left: 0.7em;
					margin-right: 0.5em;
					margin-top: 1.6em;
				}
			}
			.choix.actif label {
				border:1px solid rgba(255,255,255,1);
				background:rgba(255,255,255,.6);
			}

			.reponses {
				float:left; width:100%;
				.transition(e('margin .9s linear'));
				position:relative;
				.indice { position:absolute; left: -7em;/*float:right;*/ /*padding: 2px 6px;*/
					margin-top:-.6em;
					font-size:100%;
					padding:.5em 1em;
					i { margin-top:.2em; margin-right:.1em;}
				}
				.indice.hide { display:none; }
				
			}
			
			.fini {
				.reponses { margin-left: -30%; }
				.reponse {
					.transition(e('opacity .5s linear'));
					opacity:1;

					&.to_hide {
						opacity:0;
					}

					margin:1em; padding:1em;
					border:2px solid rgba(255,255,255,1);
					background:rgba(255,255,255,.7);

					position: absolute;
					left: 103%;
					width: 53%;
					padding: 1em;
					top: 0;
					border-radius: 5px;
					font-size:120%;
					line-height:1.3em;

					.image { text-align:center; margin-top:.5em;}
					img { max-height: 140px; width:auto; }
				}

				.is_success label {
					background: rgba(0,200,20,.7);
				}
				.is_error label {
					background: rgba(120,100,100,.7);
				}
				.is_success.actif label {
					background: rgba(0,200,20,.7) url(images/icons/valid.png) 99% .75em no-repeat;
				}
				.is_error.actif label {
					background: rgba(120,100,100,.7) url(images/icons/invalid.png) 99% .75em no-repeat;
				}
			}

			.boutons {
				clear:both;
				font-size:120%;
				text-align:center; display:block; margin:auto;
				.btn {  font-size:100%; padding:.6em 1em; i { margin-top:.2em; margin-right:.1em; } }
				.btn.hide { display:none; }
				.indice { margin-right: 3em; }
				.suivant { margin-left: 3em; }
			}
		}
	}



	&.variante_dragonologie {
		background:url(images/bleu_dragon_coupe.jpg) no-repeat 100% 100% fixed;
		.background-size(100% 100%);

		.marge {
			background-color: rgba(146, 201, 228, 0.6) !important;
		}
	}
	
	&.variante_antiquite {
		background:url(images/ecailles.jpg) no-repeat 100% 100% fixed;
		.background-size(100% 100%);

		.marge {
			background-color: rgba(181, 187, 196, .7) !important;
		}
	}

}
