<h1>Facilitateur de saisie en masse !</h1>

[(#ENV{id_rubrique}|non)
	<div class='alert alert-info'>Passez un id_rubrique dans l'URL</div>
]

<BOUCLE_rub(RUBRIQUES){id_rubrique}>

<h2>RUBRIQUE : <strong>#TITRE</strong></h2>

<B_articles>
<table class='table'>
	<thead>
		<tr>
			<th>Id</th>
			<th>Titre</th>
			<th>Intro</th>
			<th>Texte</th>
			<th>X</th>
			<th>Y</th>
			<th>Data</th>
		</tr>
	</thead>
	<tbody>
<BOUCLE_articles(ARTICLES){id_rubrique}{par num titre, titre}>
	<tr>
		<td>#ID_ARTICLE</td>
		<td class='#EDIT{titre}'>#TITRE</td>
		<td class='#EDIT{introduction}'>#INTRODUCTION{60}</td>
		<td>
			<BOUCLE_document_grand(DOCUMENTS){id_article}{mode=document}{0,1}>
				<a href="#URL_DOCUMENT" class='mediabox'>[(#FICHIER|image_reduire{60,30})]</a>
			</BOUCLE_document_grand>
		</td>
		<td class='#EDIT{pos_x}'>#POS_X</td>
		<td class='#EDIT{pos_y}'>#POS_Y</td>
		<td class='#EDIT{data}'>#DATA</td>
	</tr>
</BOUCLE_articles>
	</tbody>
</table>
</B_articles>
</BOUCLE_rub>
