
<BOUCLE_rub(RUBRIQUES){id_rubrique}>
<div class='row'>
	<div class='span3 offset1'>

		<div class='encadre'>

			<h1>#TITRE</h1>

			<div class='cadre'>
				[(#REM)  affiche des sous-rubriques ]
				<BOUCLE_sous_groupe(RUBRIQUES){id_parent}{par num titre, titre}>
					<B_sous_rubriques>
					<div class="menu rubriques">
						<h2 class="h2">#_sous_groupe:TITRE</h2>
						<ul class="menu-items menu-liste">
							<BOUCLE_sous_rubriques(RUBRIQUES) {id_parent} {par num titre, titre}>
							<li class="item menu-entree">
								<a href="#URL_RUBRIQUE">[(#TITRE)]</a>
							</li>
							</BOUCLE_sous_rubriques>
						</ul>
						</div>
					</B_sous_rubriques>
				</BOUCLE_sous_groupe>
			</div>
		</div>


	</div>
</div>
</BOUCLE_rub>


