
<BOUCLE_rub(RUBRIQUES){id_rubrique}>

<div id="titres_borne">
	<div class='marge'>
		<h1>#INFO_TITRE{rubrique,#ID_PARENT}</h1>
		<h2>#TITRE</h2>
	</div>
</div>

#SET{n,0}
<BOUCLE_nb(ARTICLES){id_rubrique}> </BOUCLE_nb>#SET{n,#GRAND_TOTAL}</B_nb>

<div id="demarrer">
	<button class="btn btn-warning" aria-hidden="true">
		<i class='icon-hand-up'></i> Testez-vous !<br />
		<small class='hide'>([(#GET{n}|min{3})] questions au hasard parmi #GET{n})</small>
	</button>
</div>


<BOUCLE_articles(ARTICLES){id_rubrique}{par num titre, titre}>
<div class="question" id="question#COMPTEUR_BOUCLE">
<div class='marge'>
<div class='contenu'>

	<BOUCLE_quiz(DATA){source simpleXml,#TEXTE}>
		<BOUCLE_items(DATA){source tableau,#VALEUR{children/quiz/0}}{cle==children}>

			<h2>#VALEUR{question/0/children/texte/0/text}</h2>

			<div class='illustration'>[(#VALEUR{question/0/children/image/0/text})]</div>

			<div class='formulaire'>
				<form>
					<div class='reponses'>
						<BOUCLE_choix(DATA){enum 1,3}{par hasard}>
							<div class='choix choix#VALEUR'>
								<input
									type='#_items:VALEUR{correct/0/children/type/0/text}'
									name='reponse[(#_articles:COMPTEUR_BOUCLE)][]'
									id='reponse[(#_articles:COMPTEUR_BOUCLE)]_#VALEUR'
									value='choix#VALEUR'
								/>
								<label for='reponse[(#_articles:COMPTEUR_BOUCLE)]_#VALEUR' >
									#_items:VALEUR{choix/#CLE/children/texte/0/text}

									[(#_items:VALEUR{choix/#CLE/children/indice/0/text}
										|ou{#_items:VALEUR{choix/#CLE/children/image/0/text}})
									<a
										class='btn btn-info indice'
										data-content=""
										data-placement="top"
										data-toggle="click"
										href="#"
										>
										<i class='icon-info-sign icon-white'></i> Indice
									</a>
									<div class='indice-content'>
										[(#_items:VALEUR{choix/#CLE/children/indice/0/text})]
										[(#_items:VALEUR{choix/#CLE/children/image/0/text})]
									</div>
									]
								</label>
							</div>
						</BOUCLE_choix>

						<div class='reponse hide to_hide'
							data-type='#VALEUR{correct/0/children/type/0/text}'
							data-reponse='#VALEUR{correct/0/children/code/0/text}'
							>
							[(#VALEUR{reponse/0/children/texte/0/text}|trim
								|ou{#VALEUR{reponse/0/children/image/0/text}})
									[<div>(#VALEUR{reponse/0/children/texte/0/text})</div>]
									[<div class='image'>(#VALEUR{reponse/0/children/image/0/text})</div>]
							]
							[(#VALEUR{reponse/0/children/texte/0/text}|trim
								|ou{#VALEUR{reponse/0/children/image/0/text}}
								|non)
									La réponse attentue était :
									<i class='spip'>#VALEUR{correct/0/children/texte/0/text}</i>
							]
						</div>
					</div>

					<div class='boutons'>
						[(#VALEUR{indice/0/children/texte/0/text}
							|ou{#VALEUR{indice/0/children/image/0/text}})
						<a
							class='btn btn-info indice'
							data-content=""
							data-placement="top"
							data-toggle="click"
							href="#"
							>
							<i class='icon-info-sign icon-white'></i> Indice
						</a>
						<div class='indice-content'>
							[(#VALEUR{indice/0/children/texte/0/text})]
							[(#VALEUR{indice/0/children/image/0/text})]
						</div>
						]

						<button class='btn btn-success valider' disabled='1'>
							Valider <i class='icon-chevron-right icon-white'></i>
						</button>

						<button class='btn btn-success suivant hide' disabled='1'>
							Continuer <i class='icon-chevron-right icon-white'></i>
						</button>

						<button class='btn btn-warning terminer hide' disabled='1'>
							Terminer <i class='icon-chevron-right icon-white'></i>
						</button>
					</div>
				</form>
			</div>
			
		</BOUCLE_items>
	</BOUCLE_quiz>
</div>
</div>
</div>
</BOUCLE_articles>


<div id='recommencer'>
	<button class="btn">
		<i class='icon-refresh'></i> Recommencer
	</button>
</div>

<script type="text/javascript">
// calculer les tailles des modales
(function($){
$(document).ready(function(){

/* demarrer le lot de question */
$('#demarrer button').click(function(){
	$('#titres_borne').addClass('to_hide').one('transitionend', function(e) {
		$('#demarrer button').parent().addClass('to_hide').one('transitionend', function(e) {
			$('#titres_borne').addClass('hide');
			$(this).addClass('hide');
			demarrer_questions();
		});
	});

});

var questions = {};
questions.nombre = {};
questions.nombre.total = $('.question').length; /* nombre total des questions présentes */
questions.nombre.presenter = Math.min(3, questions.nombre.total); /* a présenter (lot de x questions à suivre) */
questions.nombre.faites = 0;    /* déjà affichées (n sur x questions répondues) */
questions.actuelle = 0; /* identifiant de la question */
questions.vues = []; /* liste des identifiants des questions vues (on ne doit pas les réafficher) */


var demarrer_questions = function() {
	recommencer_est_possible = true;

	/* éviter une boucle infinie ensuite : on évite de rentrer si on a déjà vu toutes les questions */
	if (questions.vues.length >= questions.nombre.presenter) {
		window.console && console.log("Démarrage de question alors qu'on en a déjà présenté suffisemment !");
		return false;
	}

	/* on tire au hasard une question non déjà vue */
	var i,n;
	do {
		i = Math.floor(Math.random() * questions.nombre.total)+1;
		n = $.inArray(i, questions.vues);
	} while (n > -1);

	questions.vues.push(i);
	questions.actuelle = i;

	$('#question' + questions.actuelle)
		.removeClass('hide').addClass('to_show')
		.find('.contenu .formulaire')
		.find('.valider,.terminer').prop('disabled', true);

	$('#question' + questions.actuelle).find('.indice').popover('show').popover('hide');
}


/* recommencer le jeu */
$('#recommencer button').click(function(){
	recommencer();
});

var recommencer_est_possible = true;

var recommencer = function() {
	if (!recommencer_est_possible) return;
	recommencer_est_possible = false;

	nettoyer = function() {
		/* réinitialiser les questions faites */
		questions.nombre.faites = 0;
		questions.actuelle      = 0;
		questions.vues          = [];

		$('#titres_borne').removeClass('hide').removeClass('to_hide');
		$('#demarrer').removeClass('hide').removeClass('to_hide');

		/* cacher les questions par défaut */
		$('.question').addClass('hide');

		// recacher les indices
		$('.contenu a.indice').popover('hide');

		/* rien de coché par défaut */
		$('.contenu .formulaire input')
			.prop('checked', false).prop('disabled', false)
			.parent().removeClass('actif').removeClass('is_error').removeClass('is_success');

		/* recacher la réponse */
		$('.contenu form').removeClass('fini');
		$('.contenu .formulaire .reponse').addClass('hide').addClass('to_hide');

		// afficher les indices
		$('.contenu .formulaire .indice').removeClass('hide');
		// afficher le bouton valider
		$('.contenu .formulaire .valider').removeClass('hide').prop('disabled', true);
		// cacher les boutons suivant
		$('.contenu .formulaire .suivant').addClass('hide').prop('disabled', true);
	}

	if ($('#question' + questions.actuelle).is('.to_show')) {
		$('#question' + questions.actuelle)
			.removeClass('to_show')
			.one('transitionend', nettoyer);
	} else {
		nettoyer();
	}

}

/* cacher les questions par défaut */
$('.question').addClass('hide');


/* Pouvoir afficher les indices */
timeout = false;

// gestion des indices : pour httrack, il faut que les liens soient bien visibles.
$('.contenu .indice-content').each(function(){
	indice = $(this).html();
	$(this).prev().data('content', indice);
	$(this).remove();
});

$('.contenu a.indice').popover({html: true}).click(function(){
	if (timeout) clearTimeout(timeout);

	if ($(this).is('.actif')) {
		$(this).removeClass('actif');
	} else {
		$(this).addClass('actif').addClass('last');
		/* fermer tous les autres indices */
		$('.contenu a.indice').not('.last').popover('hide').removeClass('actif');
		$(this).removeClass('last');
		/* fermer automatiquement l'indice */
		var $last = $(this);
		timeout = setTimeout(function() {
			$last.popover('hide').removeClass('actif');
		}, 10000);
	}
});



/* montrer la sélection du choix de réponse d'une question (dans le formulaire) */
$('.contenu .formulaire input').change(function(){
	$tous = $(this).parent().parent();
	$tous.find('input').each(function(){
		if ($(this).prop('checked')) {
			$(this).parent().addClass('actif');
		} else {
			$(this).parent().removeClass('actif');
		}
	});
	if ($tous.find('input:checked')) {
		$tous.parent().find('.valider').prop('disabled', false);
	} else {
		$tous.parent().find('.valider').prop('disabled', true);
	}
});

/* rien de coché par défaut */
$('.contenu .formulaire input')
	.prop('checked', false)
	.prop('disabled', false);


/* valider une réponse */
$('.contenu .formulaire .valider').click(function(e){
	e.preventDefault();

	$form = $(this).parents('form');

	// indiquer que ce formulaire est clos
	$form.find('input').prop('disabled', true);
	// cacher les indices
	$form.find('.indice').popover('hide').addClass('hide');
	// cacher le bouton valider
	$form.find('.valider').addClass('hide');

	// afficher tranquilement la réponse
	$form.addClass('fini').one('transitionend', function(e) {

			// ajouter des classes de succès ou d'échec
			rep = $(this).find('.reponse').data('reponse');
			rep = rep.split(",");
			var $me = $(this);
			$.each(rep, function(index, value) {
				$ok = $me.find('.' + value).addClass('is_success');
			});

			$coche = $(this).find('input:checked').parent();
			$coche.each(function(){
				if (!$(this).is('.is_success')) {
					$(this).addClass('is_error');
				}
			});

			$(this).find('.reponse').removeClass('hide').removeClass('to_hide');

			// afficher le bouton suivant ou terminer
			if (questions.vues.length >= questions.nombre.presenter) {
				$(this).find('.terminer').removeClass('hide').prop('disabled', false);
			} else {
				$(this).find('.suivant').removeClass('hide').prop('disabled', false);
			}
	});
	return false;
});


/* terminer une réponse (bouton suivant cliqué) */
$('.contenu .formulaire .suivant').click(function(e){
	e.preventDefault();
	$(this).addClass('hide').prop('disabled', true);

	$('#question' + questions.actuelle).removeClass('to_show')
		.one('transitionend', function(e) {
			$(this).addClass('hide');
			demarrer_questions();
	});

	return false;
});


/* terminer la série de questions (bouton terminer cliqué) */
$('.contenu .formulaire .terminer').click(function(e){
	e.preventDefault();
	$(this).addClass('hide').prop('disabled', true);

	$('#question' + questions.actuelle).removeClass('to_show')
		.one('transitionend', function(e) {
			$(this).addClass('hide');
			recommencer();
	});

	return false;
});

});
})(jQuery);
</script>


</BOUCLE_rub>
