
<BOUCLE_rub(RUBRIQUES){id_rubrique}>
<div class='row'>
	<div class='span10 offset1'>

		<div class='encadre'>
			<h1>#TITRE</h1>
		</div>


		<B_articles>

		<ul class="thumbnails">
			<BOUCLE_articles(ARTICLES){id_rubrique}{par num titre, titre}>
			<li class="span1">
				<div class="thumbnail">
					<a href="#item#ID_ARTICLE" role="button" data-toggle="modal">
						<BOUCLE_document(DOCUMENTS){id_article}{mode=document}{0,1}>
						<BOUCLE_illustration(DOCUMENTS){id_document=#ID_VIGNETTE}{mode=vignette}{0,1}{tout}>
							[(#FICHIER|image_reduire{200,200}|image_sepia{606263})]
						</BOUCLE_illustration>
						</BOUCLE_document>
						<h3>#TITRE</h3>
					</a>
				</div>

				<div id="item#ID_ARTICLE" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="itemLabel#ID_ARTICLE" aria-hidden="true">

					<div class="modal-body">
						<div class='row-fluid'>
							<div class='gauche'>
								<div class='encart image'>
									<BOUCLE_document_grand(DOCUMENTS){id_article}{mode=document}{0,1}>
									[(#FICHIER|image_reduire{800,600})]
									</BOUCLE_document_grand>
								</div>
							</div>
							<div class='droite'>
								<div class='contenu'>
									<h3 id="itemLabel#ID_ARTICLE">#TITRE</h3>
									
									[<div class='texte #EDIT{texte}'>(#TEXTE)</div>]
								</div>

							</div>
							<br class='nettoyeur' />
						</div>

					</div>
					<div class="modal-footer">

						<div class='iconographie'>
							<div class='item origine'>
								<span>Origine</span>
							</div>
							<div class='item morphologie'>
								<span>Morphologie</span>
							</div>
							<div class='item symbolique'>
								<span>Symbolique</span>
							</div>
							<div class='item histoire'>
								<span>Histoire</span>
							</div>
							<div class='item maintenant'>
								<span>Maintenant</span>
							</div>
						</div>
						<button class="btn" data-dismiss="modal" aria-hidden="true">
							<i class='icon-remove-sign'></i> Retour
						</button>
					</div>
				</div>

			</li>
			</BOUCLE_articles>
		</ul>

		</B_articles>

		<div id='lien_credits'>
			<a href="#credits" role="button" data-toggle="modal">
				Crédits
			</a>
		</div>




		<div id='credits' class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="itemCredits" aria-hidden="true">

			<div class="modal-body">
				<div class='row-fluid'>
					<div class='span6'>
						<h3 class='itemCredits'>Crédits</h3>
						[<div class='texte'>(#TEXTE)</div>]
					</div>
					<div class='span6'>
						<h4>Illustrations</h4>
						<BOUCLE_articles_credits(ARTICLES){id_rubrique}{par num titre, titre}>
							<BOUCLE_document_grand_credits(DOCUMENTS){id_article}{mode=document}{0,1}>
								[(#INCLURE{fond=modeles/credits,args=#ARRAY{
									lien,#CREDITS,
									image,#FICHIER,
									descriptif,Représente : « #_articles_credits:TITRE »,
									auteur,#DESCRIPTIF*
								}
								})]
							</BOUCLE_document_grand_credits>
						</BOUCLE_articles_credits>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">
					<i class='icon-remove-sign'></i> Retour
				</button>
			</div>
		</div>

</div>

<script type="text/javascript">
(function($){
$(document).ready(function(){

	// pas de sélection
	document.onselectstart = function() {return false;} // ie
	document.onmousedown = function() {return false;} // mozilla

	// calculer les tailles et espacements internes des modales
	sizing = function() {
		h = $(window).height() - 180;
		console.log('>> Nouvelle taille : ' + h);
		$('.modal-body').css('height', h).css('max-height', h);
		$('.modal-body .encart img').css('max-height', h - 60);
		// centrer verticalement l'image et le texte
		$('.thumbnails .modal').each(function(){
			var $modal = $(this);
			$modal.removeClass('hide');
			setTimeout(function(){
				hd = $modal.find('.modal-body .droite .contenu').height();
				// si on a pu obtenir la taille
				if (hd && (h > hd)) {
					marge = ((h - hd) / 2) - 10;
					$modal.find('.modal-body .droite')
						.css('margin-top', marge + 'px');
				}
				hg = $modal.find('.modal-body .gauche .encart').height();
				// si on a pu obtenir la taille
				if (hg && (h > hg)) {
					marge = ((h - hg) / 2) - 10;
					$modal.find('.modal-body .gauche')
						.css('margin-top', marge + 'px');
				}
				$modal.addClass('hide');
			}, 20);
		});

	}

	// petit délai d'init…
	setTimeout(sizing, '100');
	$( window ).resize(sizing);


	// Toutes les 2 minutes d'inactivité, fermer une éventuelle modale ouverte
	idleTime = 0;

	// Increment the idle time counter every minute.
	setInterval(timerIncrement, 60000); // 1 minute

	// Zero the idle timer on mouse movement.
	$(this).mousemove(function () { idleTime = 0; });
	$(this).keypress (function () { idleTime = 0; });

	function timerIncrement() {
		if (++idleTime > 1) { // 2 minutes
			// fermer les modales
			$('.modal').each(function(){
				$(this).modal('hide');
			});
		}
	}

});
})(jQuery);
</script>
</BOUCLE_rub>


